.queremos {
    padding: 40px;
    text-align: center;
}

.queremos h1{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 20px;
}

.queremos h3{
    font-size: 1.3rem;
    font-weight: bold;
    width: 45%;
    line-height: 30px;
}

.address-map{
    height: 80vh;
    margin-top: 10vh;
    text-align: center;
}

.address-map .mapFlex{
    display: flex;
    justify-content: center;
}

.address-map{
    font-size: 1.6rem;
    font-weight: bolder;
}

.address-map #map{
 height: 50vh;
 width: 50%;
}


@media screen and (max-width: 992px){
    
    .queremos h1{
        font-size: 1.8rem;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .queremos h3{
        font-size: 1rem;
        width: 90%;
        line-height: 20px;
    }
}