nav{
    background-color: #b90000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 10vh;
    z-index:999;   /*profundidade/sobreposição*/
    width:100%;    /*total*/
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav .menu{
    display: none;
}


nav ul li a{
    color: white;
    text-decoration: none;
}

nav img{
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
    height: 75.758px;
}



nav ul li{
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

nav ul li button{
    width: 150px;
    background-color: white;
    color: #b90000;
    border-radius: 999px;
    font-size: 18px;
    border: 5px solid white;
    height: 50px;
}

nav ul li button:hover{
    background-color:#b90000;
    border-color:#b90000;
    border: 2px solid white;    
    color:white;
    transition: 0.5s;
}

aside{
    display: none;
}

.background{
    display: none;
}

@media screen and (max-width: 992px){
    
    nav ul {
        display: none;
    }

    nav .menu{
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        color: white;
        margin-right: 30px;
        cursor: pointer;
    }
    aside{
        translate: -280px;
        height: 90vh;
        position: fixed;
        top: 10vh; 
        width: 280px;
        background-color: white;
        z-index: 999; /*frente de outra section*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 40px;
    }

    aside ul .buttonSidebar {
        background-color: var(--primary);        
    }

    aside ul .buttonSidebar a{
        color: white !important;
    }

    aside ul li{
        margin-bottom: 30px;
        text-align: center;
        border: 3px solid var(--primary);
        border-radius: 50px;
        padding: 15px;
        width: 180px;
        background-color: white;
    }

    aside ul li a {
        text-decoration: none;
        color: black;
    }

    .background{
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        top: 10px;
        z-index: 899;
    }
    
}